<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <div class="well">
        <div style="text-align: center;">
            <h1>Teacher Dashboard</h1>
        </div>
    </div>
</head>
<body>
<div class="container">
    <div class="well">
        <div style="text-align: center;">
            <h1>Teacher Dashboard</h1>
        </div>
    </div>

    <div class="well">
        <h3 class="red">Your Decks</h3>
        <table class="table" cellpadding="15">
            <tr>
                <th>Access Code</th>
                <th>Deck Name</th>
                <th>Action</th>
            </tr>

            <% for (var i = 0; i < user.classes.length; i++) { %>
            <tr>
                <td><%= user.classes[i].name %></td>
                <td><%= user.classes[i].password %></td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            ...
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="<%= link %>">Edit Deck</a></li>
                            <li><a href="../studentStats/<%= user.classes[i].id %>">View Statistics</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Delete Deck</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <% } %>
        </table>
    </div>

</div>
</body>
</html>