<!doctype html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/public/style.css">
</head>
<body>
<div class="container">
  <div class="page-header text-center">
    <h1>Teacher Dashboard</h1>
  </div>

  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group pull-right" role="group">
      <a href="/logout" class="btn btn-warning">Logout</a>
    </div>
  </div>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title pull-left">Your Classes</h3>
      <button type="button" class="btn btn-primary pull-right"
              data-toggle="modal" data-target="#newClass">New Class
      </button>
      <div class="clearfix"></div>

      <div id="newClass" class="modal fade" role="form">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close"
                      data-dismiss="modal">&times;</button>
              <h4 class="modal-title">New Class</h4>
            </div>
            <div class="modal-body">
              <form action="/teacher/class/createClass/"
                    method="post">
                <label>Name</label>
                <input type="text" class="form-control" name="name"
                       placeholder="Name">
                <br>
                <label>Password</label>
                <input type="text" class="form-control" name="password"
                       placeholder="Password">
                <br>
                <button class="btn btn-primary" type="submit">Create</button>
              </form>
            </div>
          </div>

        </div>
      </div>

    </div>

    <table class="table" id="hiddenButtonTable">
      <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Action</th>
      </tr>

      <% for (let i = 0; i < user.classes.length; i++) { %>
      <tr>
        <% let infourl = "/teacher/class/class/?classID=" + JSON.stringify(user.classes[i]._id) %>
        <td><a href=<%= infourl %>> <%= user.classes[i].name %> </a></td>
        <td><%= user.classes[i].password %></td>
        <td>
          <form action="/teacher/class/deleteClass" method="post">
            <input type="hidden" name="classID"
                   value="<%= user.classes[i]._id %>">
            <button class="btn btn-sm btn-danger hidingButton" type="submit">
              Delete
            </button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </div>
</div>
</body>
</html>