<!doctype html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="page-header text-center">
    <h1>Teacher Dashboard</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="well">

        <h3>Your Classes</h3>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Password</th>
          </tr>

          <% for (let i = 0; i < user.classes.length; i++) { %>
          <tr>
            <% let infourl = "/teacher/class/class/?id=" + JSON.stringify(user.classes[i]._id) %>
            <td><a href=<%= infourl %>> <%= user.classes[i].name %> </a></td>
            <td><%= user.classes[i].password %></td>
          </tr>
          <% } %>
        </table>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
        <h3>New Class</h3>
        <form action="/teacher/createClass" method="post">
          <input type="text" class="form-control" name="name" placeholder="Name">
          <input type="text" class="form-control" name="password" placeholder="Password">
          <br>
          <button class="btn btn-primary btn-default" type="submit">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>