<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <div class="well">
        <div style="text-align: center;">
            <h1>Teacher Dashboard</h1>
        </div>
    </div>
</head>
</html>