.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

table#hiddenButtonTable tr td button.hidingButton {
    display: none;
}

table#hiddenButtonTable tr:hover td button.hidingButton {
    display: inline;
}

textarea.form-control.noHorizontalResize {
    resize: vertical;
}

.paddedWell {
    /* freakin' sorcery */
    width: 46.71%;
    margin: 15px;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

