<!doctype html>
<html>
<head>
    <title>CloudCard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link href="../public/style.css" rel="stylesheet"/>

</head>
<body>
<div>
    <div class="col-sm-12 jumbotron">
        <div class="text-center">
            <h1><span class="fa fa-cloud"></span> CloudCard </h1>
            <h3>Log in or Register</h3>
            <br>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4 well text-center">
                <p>Teachers</p>
                <a href="/auth/google/teacher" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4 well text-center">
                <p>Students</p>
                <a href="/auth/google/student" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            </div>
            <div class="col-md-1"/></div>
        </div>
    </div>
</div>
</div>
</body>
</html>